<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="file"  xsi:type="File" fileName="${basedir}/Logs/log.csv" concurrentWrites="true" keepFileOpen ="false" replaceFileContentsOnEachWrite="true">
      <layout xsi:type="CsvLayout">
        <!-- CSV Options -->
        <quoting>All</quoting>
        <quoteChar>"</quoteChar>
        <withHeader>true</withHeader>
        <customColumnDelimiter>String</customColumnDelimiter>
        <delimiter>Semicolon</delimiter>
        <column layout="${longdate}" name="Date"/>
        <column layout="${level}" name="Level"/>
        <column layout="${message}" name="Message"/>
        <column layout="${exception:format=ToString}" name="Exception"/>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
